*, *::after, *::before {
  box-sizing: border-box;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0.6em;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

strong {
  font-weight: bold;
}

cite {
  font-style: normal;
}

/*style guide*/
body {
  font-family: "Roboto", sans-serif;
  padding-right: 1rem;
  padding-right: 1rem;
}

section code {
  background-color: #EEE;
  padding: 0.7em 0.8em;
}

a{
  text-decoration: none;
  color: #888888;
}


img {
  max-width: 60%;
}

hr{
  border-style: solid;
  border-width: thin;
  border-color: #C42529;
  width: 95%;
  margin-top: 1rem;
}

video {
  margin: 0 auto 0.55em;
  display: block;
  text-align: center;
}

figure > *{
    margin: 0 auto 0.55em;
    display: block;
    text-align: center;
}

.content{
  position: absolute;
  margin-top: 2rem;

}
.center{
    margin: auto;
}
.text-center{
  text-align: center;
}

.link-center{
    display:block;
    text-align:center
}

.grid-group{
  position: relative;
  width: 100%;
  display: -ms-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0rem;
  padding: 1em 4em;
}
.grid-fullwidth {
  width: 100%;
  vertical-align: text-top;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  padding: 1rem 2rem;

}

.grid-ten{
  vertical-align: text-top;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  display: inline-block;
  max-width: 10%;
  padding: 1rem 2rem;
}

.grid-twenty{
  vertical-align: text-top;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  display: inline-block;
  width: 20%;
  max-width: 20%;
  padding: 0rem 2rem;
}

.grid-thirty{
  vertical-align: text-top;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  display: inline-block;
  width: 30%;
  max-width: 30%;
}

.grid-forty {
  vertical-align: text-top;
  -ms-flex-grow: 1;
  flex-grow: 3;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 40%;
  max-width: 40%;
  display: inline-block;
}

.grid-fifty {
  vertical-align: text-top;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 50%;
  max-width: 50%;
  display: inline-block;
}

.grid-sixty {
  vertical-align: text-top;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 60%;
  max-width: 60%;
  display: inline-block;
}

.grid-seventy{
  vertical-align: text-top;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 70%;
  max-width: 70%;
  display: inline-block;
}

.grid-eighty{
  vertical-align: text-top;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 80%;
  max-width: 80%;
  display: inline-block;
  margin-left: 2.5rem;
}

/* ----INTERACTIVE ELEMENTS---- */

/*In Text Link*/
.link-intext{
  color: #6b7e7e;
  display: inline-block;
}

a:active, a:hover, a:focus {
  color: #7bb3e7;
  text-decoration: none;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
}

/* Styling for the navigation button */
.button-nav {
  color: #9bc7a4;
}

.button-nav:active, .button-nav:hover, .button-nav:focus {
  color: #7bb3e7;
}

/*Form Button (submit/reset)*/
.button-submit {
  color: white;
  background-color: #9bc7a4;
  padding: 0.75rem 0.9rem;
  transition: background-color 0.5s, color 0.5s;
  border: 0.1em solid #FFF;
  border-radius: 0.3em;
}

.button-submit:active, .button-submit:hover, .button-submit:focus {
  color: #9bc7a4;
  background-color: white;
  border-color: #9bc7a4;
}

.button-reset {
  color: white;
  background-color: #a9bd67;
  padding: 0.75rem 0.9rem;
  transition: background-color 0.5s, color 0.5s;
  border: 0.1em solid #FFF;
  border-radius: 0.3em;
}

.button-reset:active, .button-reset:hover, .button-reset:focus {
  color: #a9bd67;
  background-color:  white;
  border-color: #a9bd67;
}

/*
  TEXT ELEMENTS -------------------
*/

/*Text Input Field*/
.text-input {
  padding: 0.35rem 0.6rem;
  border: 0.1em solid #DDDDDD;
  border-radius: 0.25em;
  box-sizing: border-box;
  color: #DDDDDD;
}

.text-label {
  font-size: 1rem;
}

/*headings*/
.heading-1 {
  font-family: "Slabo";
  font-size: 2.5rem;
  color: #434343;
  margin-top: 3rem;

}

.heading-2 {
  font-family: "Slabo";
  font-size: 2.25rem;
  color: #434343;
}

.heading-3{
  font-family: "Roboto";
  font-size: 1rem;
  color: #434343;
  margin-bottom: 0;
}

.para {
font-size: 1rem;
font-family: "Roboto";
margin-top: 0;
}

/*bulleted list*/
.list-bullet {
  list-style-type: square;
  padding-left: 1.5rem;
}

/*numbered list*/
.list-number {
  padding-left: 1.5rem;
}
/*
  COMBINED ELEMENTS -------------------
*/
/*main navigation*/
.nav-main {
  display: -ms-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  width: 99%;
  position: fixed;
  padding: 1rem 0.5rem;
  background-color: #9bc7a4;
  z-index: 1;
}

.nav-item {
  text-decoration: none;
  color:white;
  padding: 0.75rem 3rem;
  transition: background-color 0.5s, color 0.5s;
}

.nav-item:active, .nav-item:hover, .nav-item:focus {
  color: black;
  text-decoration: underline;
}

.div-container {
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -ms-flex-basis: 15em;
  flex-basis: 15em;
  padding: 1em;
}

.div-text {
    display: inline-block;
    max-width: 40%;
}
